# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.venv/
.homeassistant_akuvox_test/


# misc
.coverage
.vscode
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml
