name: "Lint"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v4"

        - name: "Set up uv"
          uses: astral-sh/setup-uv@v3
          with:
            python-version: "3.11"

        - name: "Sync dependencies"
          run: uv sync --dev

        - name: "Run"
          run: uv run ruff check .
