name: Create Release for Commit

on:
  push:
    branches:
      - main
    paths:
      - "sources/**"
      - ".github/**"
  pull_request:
    branches:
      - main
    paths:
      - "sources/**"
      - ".github/**"
  workflow_dispatch:

permissions:
  contents: write
  packages: read

jobs:
  create-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Create a tag for the release
      - name: Create tag
        id: create_tag
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          TAG_NAME="release-$(date +'%Y%m%d-%H%M%S')"
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
          git tag $TAG_NAME
          git push origin $TAG_NAME

      # Create a release
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          name: Commit - ${{ github.sha }}
          body: |
            Release for commit ${{ github.sha }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ env.TAG_NAME }}
